# --- SERVER CONFIG ---
PORT=6645
NODE_ENV=local
BASE_PATH=/jpstagedesign

# --- FSCAUTH ---
FSCAUTH_URL=https://vps-4455523-x.dattaweb.com/fscauth

# --- DEPLOYMENT ---
VPS_HOST=149.50.139.152
VPS_PORT=5752
VPS_USER=root
FTP_HOST=fullscreencode.com

